body{
    background: #21266a;
}

.calculator{
    width: 350px;
    height: 500px;
    margin: 50px auto;
    background: #fef;
    box-shadow: 0px 0px 4px #000;
    background-image: linear-gradient(-300deg, #888, #fff);
}



input[type="button"]{
    height: 100%;
    cursor: pointer;
    font-family: "Bangers", cursive;
    font-family: "Orbitron", sans-serif;
    width: 45px;
    font-size: 10px;
    color: #fff;
    margin: 3px;
    background: rgb(80, 80, 80);
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 0px 3px 3px grey;
}


input[type="button"]:active{
    box-shadow: 0px 1px 1px gray;
}
#display{
    padding: 5px 18px 5px 18px;
    margin: 20px auto;
    width: 82%;
    height: 60px;
    font-size: 34px;
    color: black;
    text-align: right;
    border: 3px double rgb(170, 170, 170);
    background-color: #d1e7da;
    border-radius: 2px;
    pointer-events: none;
}

